Primer Parcial/Deberes/ComponentExample/ComponentExample/Connected Services/ServiceReference1/DbTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DbTest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DbTest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Student_Birth_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Student_LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Student_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
</xs:schema>